* {
  // overflow-x: scroll;
}

#opener{
  display:block;
}
#left {
  width: 30vw;
  transform: translateX(-100%);
  #todayData {
    #closer{
      display: block;
    }
  }
}
#middle {
  // width:auto;
  .meallist,
  .results {
    width: 100%;
    overflow: scroll;
  }
  .searchbar {
    * {
      margin: 0;
    }
    .row {
      span {
        overflow: hidden;
        margin: 1rem 0;
      }
      display: flex;
      flex-direction: column;
    }
  }
}

@media (orientation: portrait) {
  #left,
  #middle {
    display: none;
  }
  .portrait {
    margin-top: 30vh;
    text-align: center;
    display: block;
  }
}
